@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.backface-visible {
	backface-visibility: visible;
  }
  
  .backface-invisible {
	backface-visibility: hidden;
  }
  .transform-style-3d{
	transform-style: preserve-3d;
  }
  .rotate-y-0{
	transform: rotateY(0deg);

  }
  .rotate-y-180{
	transform: rotateY(180deg);

  }
  .transition-0{
	transition: .5s;
  }
  .perspective{
	perspective: 1500px;

  }
  .box-shadow-custom{
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);

  }
.profile_image{
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 93%, 0 100%);

  clip-path: polygon(0 9%, 100% 0, 100% 93%, 0 100%);

}


.book{
	display: flex;
}
#cover{
	width: 250px;
	height: 400px;
}

.flip{
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: 1s;
}

.front{
	box-sizing: border-box;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}
.back{
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.test { 
  position: relative;
	transform-origin: left;

  background-color: lightgreen;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.test:after {
  
  content: "";
  background-image: url("/book/introduction.png")  ;
  background-repeat: no-repeat;
  display: inline-block;
  width: 350px;
  height: 500px;
  background-size:  350px 500px;
  background-color: #0891b2;
  object-fit: contain;
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-transform: rotateY( -180deg );
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}